<div class="light">
    <h1>Overview</h1>
    <div echarts [options]="options" [merge]="updateOptions[0]"></div>
</div>
<div class="dark">
    <h1>Users</h1>
    <div echarts [options]="options" [merge]="updateOptions[1]"></div>
</div>
<div class="light">
    <h1>Courses</h1>
    <div echarts [options]="options" [merge]="updateOptions[2]"></div>
</div>
<div class="dark">
    <h1>Dojo</h1>
    <div echarts [options]="options" [merge]="updateOptions[3]"></div>
</div>
<div class="light">
    <h1>Quiz</h1>
    <div echarts [options]="options" [merge]="updateOptions[4]"></div>
</div>