<div class="content">
    <div *ngIf="userLoaded">
        <h1><app-breadcrumb></app-breadcrumb></h1>
        <mat-form-field>
            <mat-label>Your name:</mat-label>
            <input id="userName" matInput [(ngModel)]="user.name" (input)="userRename()">
        </mat-form-field>
        <router-outlet />
    </div>
    <div *ngIf="!userLoaded">
        <h1>Loading nomads...</h1>
    </div>
</div>
<footer class="footer">
    &copy; <a href="mailto:ineiti@gasser.blue">Linus Gasser</a> |
    <a href="https://github.com/HEIG-SRX-2024/livequiz">Live Quiz on GitHub</a>
</footer>
