<h2>Overview of Users</h2>

<!-- <button mat-button (click)="addUser()" style="margin-bottom: 1em;">Add User</button> -->
<button mat-button (click)="update()" style="margin-bottom: 1em;">Update View</button>
<button mat-button (click)="updateQuestionnaire()" style="margin-bottom: 1em;">Update Questionnaire</button>

<h3>Questionnaire title is {{title}}</h3>

<div *ngIf="users.length > 0">
  <mat-slide-toggle (change)="showResultsUpdate($event)" [checked]="showResults" style="margin-bottom: 1em;">
    Show Results
  </mat-slide-toggle>
  <table style="width: 100%">
    <tr>
      <th style="width: 10em;">Name</th>
      <th style="width: 2em;" *ngFor="let row of displayedColumns; index as i">{{i+1}}</th>
    </tr>
    @for (user of users; track $index){
    <tr>
      <td>{{user.name.slice(0, 20)}}</td>
      @for (choice of user.answers; track idx; let idx = $index, e = $even){
      <td [class]="selectedClasses[$index][idx]"></td>
      }
    </tr>
    }
  </table>
</div>