<h2>Overview of Users</h2>

<button mat-button (click)="addUser()" style="margin-bottom: 1em;">Add User</button>

<div *ngIf="users.length > 0">
  <mat-slide-toggle (change)="showResults($event)" style="margin-bottom: 1em;">
    Show Results
  </mat-slide-toggle>
  <table style="width: 100%">
    <tr>
      <th style="width: 10em;">Name</th>
      <th style="width: auto;" *ngFor="let row of displayedColumns; index as i">{{i}}</th>
    </tr>
    @for (user of users; track $index){
    <tr>
      <td>{{user.name}}</td>
      @for (choice of user.answers; track idx; let idx = $index, e = $even){
      <td [class]="selectedClasses[$index][idx]"></td>
      }
    </tr>
    }
  </table>
</div>