<div *ngIf="!course.state.isIdle()">
    <h3>Quiz in Dojo: {{currentQuiz()?.title ?? "unknown"}}</h3>
    <div *ngIf="isAdmin()">
        <button mat-stroked-button (click)="dojoIdle()">
            Stop Dojo
        </button>
        <button *ngIf="course.state.isCorrections()" mat-stroked-button (click)="dojoQuiz(currentQuiz()!.id)">
            Restart Dojo
        </button>
        <button *ngIf="course.state.isCorrections()" mat-stroked-button routerLink="corrections">
            See Corrections
        </button>
        <button *ngIf="course.state.isQuiz()" mat-stroked-button (click)="dojoCorrections()">
            End Quiz
        </button>
    </div>
    <div *ngIf="isStudent()">
        <button *ngIf="course.state.isQuiz()" mat-stroked-button routerLink="dojo">
            Enter Dojo
        </button>
        <button *ngIf="course.state.isCorrections()" mat-stroked-button routerLink="dojo">
            See Results
        </button>
    </div>
</div>

<div *ngIf="quizzes.length > 0">
    <h3>Available Quizzes</h3>
    <ul>
        <li *ngFor="let quiz of quizzes">
            {{quiz.title}}
            <button *ngIf="isAdmin()" (click)="dojoQuiz(quiz.id)">Start Quiz</button>
            <button *ngIf="isStudent()" routerLink="['./kata', quiz.id.toHex()]">Train Yourself</button>
        </li>
    </ul>
</div>