<div *ngIf="!course.state.isIdle()">
    <h3>Quiz in Dojo: {{quiz?.title}}</h3>
    <div *ngIf="isAdmin()">
        Admin actions:
        <button mat-button color="primary" (click)="dojoIdle()">
            Stop Dojo
        </button>
        <button *ngIf="course.state.isCorrections()" mat-button color="primary" (click)="dojoQuiz(quiz!.id)">
            Restart Dojo
        </button>
        <button mat-button color="primary" routerLink="corrections">
            Start Corrections
        </button>
        <button mat-button color="primary" routerLink="progress">
            Show Progress
        </button>
        <button *ngIf="course.state.isQuiz()" mat-button color="primary" (click)="dojoCorrections()">
            End Quiz
        </button>
    </div>
    <div *ngIf="isStudent()">
        User actions:
        <button *ngIf="course.state.isQuiz()" mat-button color="primary" routerLink="dojo">
            Enter Dojo
        </button>
        <button *ngIf="course.state.isCorrections()" mat-button color="primary" routerLink="dojo">
            See Results
        </button>
    </div>
</div>

<div *ngIf="isAdmin()">
    <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display:none">
    <button mat-button color="primary" (click)="createQuiz()">Create Quiz</button>
    <button mat-button color="primary" (click)="openFileChooser()">Upload Quiz</button>
</div>
<div *ngIf="quizzes.length > 0">
    <h3>Available Quizzes</h3>
    <ul cdkDropList (cdkDropListDropped)="drop($event)">
        <li *ngFor="let quiz of quizzes" cdkDrag>
            <span class="dragCursor">{{quiz.title}}</span>
            <span *ngIf="isAdmin()">
                <button mat-button color="warn" (click)="deleteQuiz(quiz.id)">Delete</button>
                <button mat-button color="primary" [routerLink]="'editQuiz/' + quiz.id.toHex()">Edit</button>
                <button mat-button color="primary" (click)="openFileChooser(quiz.id)">Update</button>
                <button mat-button color="primary" (click)="dojoQuiz(quiz.id)">Start
                    Quiz</button>
            </span>
            <button mat-button color="primary" [routerLink]="'./kata/' + quiz.id.toHex()">Train</button>
            <!-- <button *ngIf="isStudent()" mat-button color="primary" routerLink="['./kata', quiz.id.toHex()]">Train Yourself</button> -->
        </li>
    </ul>
</div>