<h2>{{questions.chapter}}</h2>
<mat-form-field>
    <mat-label>Your name:</mat-label>
    <input matInput [(ngModel)]="name" (keyup)="updateName()">
</mat-form-field>

<div *ngIf="!questions.empty">
    <div style="display: grid; grid-template-columns: auto 1fr auto; margin: 1em 0 1em; width: 100%;">
        <button mat-button [disabled]="questions.first" (click)="questions.previous()"
            style="margin: auto 1em auto; height: 2em;">Previous</button>
        <mat-grid-list [cols]="gridWidth(questions.questions.length)" rowHeight="2em">
            @for (q of questions.questions; track $index) {
            <mat-grid-tile (click)="questions.goto($index)" [class]="tileClass($index)">{{$index+1}}</mat-grid-tile>
            }
        </mat-grid-list>
        <button mat-button [disabled]="questions.last" (click)="questions.next()"
            style="margin: auto 0 auto 1em; height: 2em;">Next</button>
    </div>

    <h3 [innerHTML]="questions.title"></h3>

    <p [innerHTML]="questions.description"></p>

    <div *ngIf="questions.maxChoices === 1; else multiQuestion">
        <mat-selection-list #choicesList multiple="false" (selectionChange)="updateSelection(choicesList)">
            @for (choice of questions.choices; track $index) {
            <mat-list-option [value]="$index" togglePosition="before" [selected]="questions.selected[$index]">
                <span [innerHTML]="choice"></span>
            </mat-list-option>
            }
        </mat-selection-list>
    </div>
    <ng-template #multiQuestion>
        <mat-selection-list #choicesList multiple="true" (selectionChange)="updateSelection(choicesList)">
            @for (choice of questions.choices; track $index) {
            <mat-list-option [value]="$index" togglePosition="before" [selected]="questions.selected[$index]">
                <span [innerHTML]="choice"></span>
            </mat-list-option>
            }
        </mat-selection-list>
    </ng-template>

    <p *ngIf="showHints" [innerHTML]="questions.hint"></p>

</div>