<h2>{{results.questionnaire.chapter}}</h2>

<a [routerLink]="['/admin']"><button mat-button>Overview</button></a>

<div *ngIf="!results.empty">
    <div style="display: grid; grid-template-columns: auto 1fr auto; margin: 1em 0 1em; width: 100%;">
        <button mat-button [disabled]="results.first" (click)="results.previous()"
            style="margin: auto 1em auto; height: 2em;">Previous</button>
        <mat-grid-list [cols]="gridWidth(results.questionnaire.questions.length)" rowHeight="2em">
            @for (q of results.questionnaire.questions; track $index) {
            <mat-grid-tile (click)="results.goto($index)" [class]="tileClasses[$index]">
                {{results.results[$index].index+1}}
            </mat-grid-tile>
            }
        </mat-grid-list>
        <button mat-button [disabled]="results.last" (click)="results.next()"
            style="margin: auto 0 auto 1em; height: 2em;">Next</button>
    </div>

    <h3 [innerHTML]="result.title"></h3>

    <p [innerHTML]="result.description"></p>

    <div *ngIf="result.qType === 0">
        <mat-selection-list class="app-class" #choicesList multiple="false" (selectionChange)="clearSelection($event)">
            @for (choice of result.choices; track $index) {
            <div style="display: flex;">
                <mat-list-option [value]="$index" togglePosition="before" [class]="resultClasses[$index]"
                    [style.width]="resultWidth[$index]" [selected]="isSelected($index)">
                    <span class="question" [innerHTML]="choice.field"></span>
                </mat-list-option>
                <span class="question" style="margin: auto 0 auto 1em; font-size: 120%;">{{choice.count}}</span>
            </div>
            }
        </mat-selection-list>
    </div>
    <div *ngIf="result.qType === 1">
        <p>Please select {{result.maxChoices}} answers</p>
        <mat-selection-list class="app-class" #choicesList multiple="true" (selectionChange)="clearSelection($event)">
            @for (choice of result.choices; track $index) {
            <div style="display: flex;">
                <mat-list-option [value]="$index" togglePosition="before" [class]="resultClasses[$index]"
                    [style.width]="resultWidth[$index]" [selected]="isSelected($index)">
                    <span class="question" [innerHTML]="choice.field"></span>
                </mat-list-option>
                <span class="question" style="margin: auto 0 auto 1em; font-size: 120%;">{{choice.count}}</span>
            </div>
            }
        </mat-selection-list>
    </div>
    <div *ngIf="result.qType === 2">
        <mat-selection-list class="app-class" #choicesList multiple="true" (selectionChange)="clearSelection($event)">
            @for (choice of result.choices; track $index) {
            <mat-list-option [value]="$index" togglePosition="before" [class]="resultClasses[$index]"
                [style.width]="resultWidth[$index]" [selected]="true">
                <span class="question" [innerHTML]="choice.field"></span>
            </mat-list-option>
            }
        </mat-selection-list>
    </div>

    <p [innerHTML]="result.hint"></p>
</div>