<div *ngIf="dojo && quiz && attempt && answer">
    <h2>{{quiz.title}}</h2>

    <div style="display: grid; grid-template-columns: auto 1fr auto; margin: 1em 0 1em; width: 100%;">
        <button mat-button [disabled]="first" (click)="previous()"
            style="margin: auto 1em auto; height: 2em;">Previous</button>
        <mat-grid-list [cols]="gridWidth(quiz.questions.length)" rowHeight="2em">
            @for (q of quiz.questions; track $index) {
            <mat-grid-tile (click)="goto($index)" [class]="tileClasses[$index]">{{$index+1}}</mat-grid-tile>
            }
        </mat-grid-list>
        <button mat-button [disabled]="last" (click)="next()"
            style="margin: auto 0 auto 1em; height: 2em;">Next</button>
    </div>

    <h3 [innerHTML]="answer.question.title"></h3>

    <p [innerHTML]="answer.question.intro"></p>

    <div *ngIf="showOptions">
        <div *ngIf="answer.isSingle()">
            <mat-selection-list class="app-class" multiple="false" #optionsList
                (selectionChange)="updateSelection(optionsList)" [disabled]="corrections">
                @for (option of answer.options; track $index) {
                <mat-list-option [value]="$index" togglePosition="before" [selected]="answer.selected[$index]"
                    [class]="resultClasses[$index]">
                    <span class="option" [innerHTML]="option"></span>
                </mat-list-option>
                }
            </mat-selection-list>
        </div>
        <div *ngIf="answer.isMulti()">
            <p>Please select one or more answers</p>
            <mat-selection-list class="app-class" multiple="true" #optionsList
                (selectionChange)="updateSelection(optionsList)" [disabled]="corrections">
                @for (option of answer.options; track $index) {
                <mat-list-option [value]="$index" togglePosition="before" [selected]="answer.selected[$index]"
                    [class]="resultClasses[$index]">
                    <span class="option" [innerHTML]="option"></span>
                </mat-list-option>
                }
            </mat-selection-list>
        </div>
        <div *ngIf="answer.isRegexp()">
            <p>Please enter the answer in the box</p>
            <mat-form-field style="width: 100%;">
                <mat-label>Answer</mat-label>
                <input matInput [(ngModel)]="answer.choice.regexp" (input)="updateRegexp()" [class]="resultClasses[0]"
                    [disabled]="corrections">
            </mat-form-field>
        </div>
    </div>

    <p *ngIf="corrections" [innerHTML]="answer.question.explanation"></p>
</div>