.questionTile {
    cursor: pointer;
    border: solid 1px black;
}

.questionTile:hover {
    background-color: aqua;
}

.questionTileOdd {
    background-color: #eee;
}

.questionTileDone {
    background-color: #ddf;
}

.questionTileDone.questionTileOdd {
    background-color: #bbf;
}

.questionTileDone.questionTileChosen {
    background-color: aquamarine;
}

.questionTileChosen {
    background-color: aquamarine;
}


.questionSelectionCorrect {
    background-color: #afa;
}

.questionSelectionWrong {
    background-color: #faa;
}

.question {
    white-space: pre-wrap;
}

mat-list-option:nth-child(n) {
    height: auto;
}

.app-class .mat-list-item {
    height: auto;
}