<h2>Progress of Users</h2>

<div style="margin-bottom: 1em;">
  <button *ngIf="addTestUsers" mat-stroked-button (click)="summary.addUser()">Add test user</button>
  <button mat-stroked-button (click)="router.navigate(['../corrections'], { relativeTo: route })">Corrections</button>
</div>

<div *ngIf="summary && summary.users.length > 0">
  <h3>Questionnaire title is {{summary.quiz.title}}</h3>
  <table style="width: 100%">
    <tr>
      <th style="width: 10em;">Name</th>
      <th style="width: 2em;" *ngFor="let row of summary.answered[0]; index as i">{{i+1}}</th>
    </tr>
    @for (user of summary.users; track $index){
    <tr>
      <td>{{user.name.slice(0, 20)}}&nbsp;</td>
      @for (answered of summary.answered[$index]; track idx; let idx = $index){
      <td [class]="answered ? 'userAnswer_answered' : ''"></td>
      }
    </tr>
    }
  </table>
</div>